/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.nav-list {
  display: flex;
  gap: 25px;
}

.btnLink {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #7687c4;
  text-decoration: none;
  color: #dbd3d3;
  margin-bottom: 50px;
}


/* iziToast customization */
.iziToast-close {
  background-color: transparent !important;
  background-image: url('../img/bi_x-lg.svg');
  background-size: contain;
  width: 16px;
  height: 16px;
  margin: 18px;
  color: transparent;
  /* Скрывает текстовое содержание кнопки */
}

/* Flatpickr input styling */
#datetime-picker {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Start button styling */
#startButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#startButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#startButton:hover:not(:disabled) {
  background-color: #45a049;
}

/* Timer display styling */
.timer-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.timer-container div {
  text-align: center;
  font-size: 1.5rem;
}

.timer-container span {
  font-size: 0.9rem;
  color: #777;
}